.botao {
  margin: 32px 0;
  padding: 32px;
  border: none;

  background-color: #6278f7;
  color: #ffffff;
  border-radius: 10px;

  font-weight: 700;
  font-size: 18px;

  cursor: pointer;
}

.botao:hover {
  color: #95ffd4;
}
